// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #028748;
$gray: #0E0000;
$light-gray: #F3F3F3;
$main: #028748;

$dark-gray: #343434;
