// // Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
  position:fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("landing-page-bg.jpg");
  opacity: 100%;
  background-size: cover;
  background-position: center;
}

.darker{
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}



.input-form {
  padding-left: 30px;
  width: 50vw;
  margin: 50px;
  height: 60px;
  border-radius: 30px;
  border: none;
  opacity: 75%;

  &:focus {
    outline: none;

    &:hover {
      opacity: 100%;

    }
  }
}

.submit-btn {
  height: 60px;
  width: 15vw;
  border-radius: 30px;
  border: none;
  opacity: 75%;

  &:hover {
    opacity: 100%;
  }
}

.heading {
 font-size: 8vw;
}

.log-in-btn,
.sign-in-btn {
  text-decoration: none;
  color: white;
}

.list-btn {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 34rem;
  width: 15vw;
  height: 60px;
  border-radius: 30px;
  border: none;
  opacity: 75%;

  &:hover {
    opacity: 100%;
  }
}
// .listing-link {
//   text-decoration: none;
//   color: black;

//   &:hover {
//     text-decoration: none;
//     color: black;
//   }
// }
