// Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  position:fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("landing-page-bg.jpg");
  opacity: 100%;
  background-size: cover;
  background-position: center;
  .home-page-bg-shadow {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    .landing-container {
      margin: 0 auto;
      width: 75%;
      height: 700px;
// Typed JS heading
    .heading {
      font-size: 8vw;
      margin-top: 180px;
    }
// Description
    .description-lg {
      display: inline-block;
    }
    .description-sm {
      display: none;
    }
// Get started Button
    .start-btn-lg {
      display: inline-block;
      font-size: 28px;
      opacity: 80%;
      margin-top: 70px;

        &:hover {
          opacity: 100%;
        }
      }
    .start-btn-sm {
      display: none;
      font-size: 28px;
      }
    }
  }
}


// Login and Signup Button
.log-in-btn,
.sign-in-btn {
  text-decoration: none;
  color: white;
}

// Media Breakpoint for Phonescreen
@media only screen and (max-width: 576px) {
  .home-container{

    .home-page-bg-shadow {

      .landing-container {
        width: 80%;

        .heading {
          font-size: 34px;
          margin-top: 170px;
        }
        .description-lg {
          display: none;
        }
        .description-sm {
          display: inline-block;
          font-size: 22px;
        }
        .start-btn-lg {
          display: none;
        }
        .start-btn-sm {
          display: inline-block;
          margin-top: 100px;
          font-size: 28px;
          opacity: 70%;
        }
      }
    }
  }
}
