<div class="home-container">
  <h1 class="text-white heading">Your way to help</h1>

  <form class="text-center mt-5 search-form" action="/charities" method="get">
      <input type="text" name="q" placeholder="&#xF002; Search" class="fas input-form" style="font-family: Arial, Font Awesome 6 Free">
      <button class="submit-btn" type="submit">Find a charity</button>
  </form>


  <%# <button  class='list-btn text-center'><%= link_to 'List charities', charities_path, class: 'listing-link'%></button> %>
</div>
