<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
  $(document).ready(function() {
      var description = new Typed('#typed', {
        strings: ['Giving made easy', 'Change starts here', 'Donate for good', 'Empower the world', 'Join the movement'],
        loop : "true",
        cursorChar:"",
        backDelay:"2500",
        typeSpeed:"9.8",
        backSpeed:"7"

    })
})
</script>

<div class="home-container w-100">
  <div class="bg-shadow d-flex align-items-centerw-100">
    <div class="text-center d-block w-100" >
    <%# Typed.js below %>
    <h1 class="text-white heading"><span id="typed"></span>!</h1>
    <%= link_to "GET STARTED", charities_path, class: "btn btn-outline-light start-btn mt-3" %>
  </div>
</div>
